:root {
    --primary-color: #ff385c;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #222;
    --sub-text-color: #717171;
    --border-color: #ddd;
    --background-color: #ebebeb;
    --hover-color: #f7f7f7;

    --header-height: 156px; /* 156 */
    --navbar-height: 80px;
    --header-with-search: calc(var(--header-height) - var(--navbar-height));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 100% = 16 px => 62.5% = 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

/* Animation */
@keyframes zoomOut {
    from {
        width: var(--current-width);
    }
    to {
        width: var(--new-width);
    }
}


.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-color: var(--background-color);
    display: none;
}

.close-btn:hover {
    cursor: pointer;
    color: var(--black-color);
    background-color: #ddd;
}