.hide-on-pc {
    display: none;
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    :root {
        --header-height: 80px;
    }
    
    .hide-on-mobile-tablet {
        display: none;
    }

    .hide-wide-on-mobile-tablet {
        width: 100%;
    }

    .app__header {
        background-color: var(--white-color);
    }

    .header__logo {
        width: 30px;
    }

    .tablet-header__logo-link {
        color: transparent;
        text-decoration: none;
        display: block;
        line-height: 3.6rem;
        -webkit-tap-highlight-color: transparent;
        margin-right: 120px;
    }

    .header__logo-img {
        fill: var(--primary-color);
    }

    .sub-searchbar-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        height: 48px;
        border-radius: 40px;
        border: 1px solid var(--border-color);
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
        margin-left: -40px;
    }

    .sub-searchbar__content {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color);
        padding-left: 24px;
    }

    .header-searchbar__btn {
        min-width: 32px;
        height: 32px;
    }

    .header-searchbar__btn-icon {
        font-size: 1.2rem;
    }
    
    

    




    .intro__container {
        padding: 60px 0;
    }

    .intro-section {
        margin-top: 80px;
    }

    .trip-discover__heading {
        font-size: 2.5rem;
        line-height: 2.8rem;
        padding-bottom: 30px;
    }

    .trip__content {
        overflow-x: scroll;
    }

    .trip__content::-webkit-scrollbar {
        display: none;
    }
}




/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }

    

    .subnav__item-btn {
        color: var(--text-color);
    }

    .intro__img-wrapper {
        height: 644px;
    }

    .intro__img {
        height: 100%;
        object-fit: cover;
    }

    .intro__content {
        top: 68%;
    }

    .intro__title {
        font-size: 3.2rem;
        line-height: 3.6rem;
        user-select: none;
    }

    .intro__btn {
        padding: 12px 24px;
        font-size: 1.6rem;
    }

    .trip-section {
        padding: 60px 0 60px 62px;
    }

    .trip__item {
        margin-right: 16px;
        width: 260px;
        min-height: 340px;
    }

    .trip__item:last-child {
        margin-right: 62px;
    }

    .trip__item-info h4 {
        font-size: 2.3rem;
        line-height: 2.6rem;
    }
}




/* Mobile */
@media (max-width: 46.1875em) {
    .hide-on-mobile {
        display: none;
    }

    .navbar {
        justify-content: space-around;
    }

    .intro__container {
        margin: 0 24px;
    }

    .intro__img-wrapper {
        height: 500px;
    }

    .intro__img {
        height: 100%;
        object-fit: cover;
    }

    .intro__content {
        top: 60%;
    }

    .intro__title {
        font-size: 2.8rem;
        line-height: 3.2rem;
        width: 260px;
        text-align: center;
        user-select: none;
    }

    .intro__btn {
        padding: 10px 22px;
        font-size: 1.5rem;
    }

    .trip-section {
        padding: 48px 0 48px 31px;
    }

    .trip__item {
        margin-right: 16px;
        width: 210px;
        min-height: 280px;
    }

    .trip__item:last-child {
        margin-right: 31px;
    }

    .trip__item-info h4 {
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .trip-discover__heading {
        width: 220px;
    }
}